// Increase height for text areas
textarea {
  height: 100px;
}

.labeled-input {
  margin: 4px auto;

  label {
    font-weight: bold;
    margin: 3px 5px;
    text-align: right;
  }
}

.input-container {
  text-align: left;
}

#input-add {
  width: 75%;
}

.poll-submit-input {
  padding: 10px;
  margin: 6px 0;
  background: #e8e8e8;
  color: #333333;
  // Too dark
  // border: 1px solid #8f8f8f;
  border: none;
  border-radius: 2px;
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
  transition: background 0.2s ease;

  &:focus {
    outline: none;
    background: #fafafa;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
  }
}

.poll-submit-checkbox {
  margin: 20px 0;
}

.option-input {
  width: 75%;
}
