@import "constants";
@import "responsive-grid";
@import "navbar";
@import "toolbar";
@import "vote-options";
@import "graph";
@import "comments";
@import "forms";
@import "buttons";

body {
  background: #ededed;
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.poll-container {
  max-width: $max-width;
  margin: 5px auto;
  border-radius: $border-radius;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.poll-tile {
  border: 1px solid #aaaaaa;
  background: white;
  padding: 10px 20px;
  margin-top: -1px;
  transition: all 0.2s ease;

  &:first-child {
    margin-top: 10px;
    border-radius: $border-radius $border-radius 0 0;
  }

  &:last-of-type {
    margin-bottom: 10px;
    border-radius: 0 0 $border-radius $border-radius;

    &:hover {
      // Makes shadow go up since it is at the bottom of the list
      box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.4);
    }
  }

  &:hover {
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  }
}

.page-main {
  // position and z-index adjusted so comments go below box
  position: relative;
  z-index: 2;
  border: 1px solid #aaaaaa;
  border-radius: 2px;
  background: white;
  margin: 5px auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.poll-head {
  padding: 10px;
  margin: -1px;
  font-size: 20px;
  background: #3377cc;
  color: #efefef;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.poll-foot {
  padding: 5px 10px;
  margin: -1px;
  font-size: 10px;
  background: #444444;
  color: #ececec;
}

.poll-info {
  padding: 10px 20px;
  margin: 0 auto;
  text-align: center;
}

.left {
  display: inline-block;
}

.right {
  float: right;
  display: inline-block;
}

.center {
  text-align: center;
}

.clickable-clear {
  background: none;
  border:none;
  color: #646464;
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
  transition: color 0.5s ease;

  &:hover {
    color: #333333;
  }
}

.poll-info-container {
  text-align: right;
  margin: 15px 0;
}

.poll-info-item {
  font-size: 10px;
  margin: 2px 0;
  color: #888888;
}

#root {
  // Padding for toolbar
  padding-bottom: 55px;
}
