$border-radius: 3px;
$max-width: 800px;

@for $i from 1 through 30 {

  .pie-piece-#{$i} {
    @if $i % 5 == 0 {
      $red: 45;
      $green: 100 + ($i * 10);
      $blue: 75;

      $color: rgba($red, $green, $blue, 1);

      fill: lighten($color, 10);
      background: lighten($color, 10);

      &:hover {
        fill: darken($color, 10);
      }
    } @else if $i % 4 == 0 {
      $red: 255;
      $green: 50 + ($i * 10);
      $blue: 50;

      $color: rgba($red, $green, $blue, 1);

      fill: lighten($color, 10);
      background: lighten($color, 10);

      &:hover {
        fill: darken($color, 10);
      }
    } @else if $i % 3 == 0 {
      $red: 20;
      $green: 10 + ($i * 10);
      $blue: 255;

      $color: rgba($red, $green, $blue, 1);

      fill: lighten($color, 10);
      background: lighten($color, 10);

      &:hover {
        fill: darken($color, 10);
      }
    } @else if $i % 2 == 0 {
      $red: 50 + ($i * 10);
      $green: 30;
      $blue: 255;

      $color: rgba($red, $green, $blue, 1);

      fill: lighten($color, 10);
      background: lighten($color, 10);

      &:hover {
        fill: darken($color, 10);
      }
    } @else {
      $red: 50 + ($i * 10);
      $green: 30;
      $blue: 100 + ($i * 10);

      $color: rgba($red, $green, $blue, 1);

      fill: lighten($color, 10);
      background: lighten($color, 10);

      &:hover {
        fill: $color;
      }
    }
  }
}

[class*="pie-piece-"] {
    stroke: #484848;
    stroke-width: 2px;
    transition: all 1s ease;
}

body {
  background: #ededed;
  font-family: sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

circle {
  fill: rgba(220, 220, 220, 1);
  stroke: #343434;
}

button:focus {
  outline: none;
}

// BEGIN RESPONSIVE GRID
* {
    box-sizing: border-box;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

[class*="col-"] {
    float: left;
    padding: 15px;
    // border: 1px solid red;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}
// END RESPONSIVE GRID

@mixin makeBtn($background, $text) {
  background: $background;
  color: $text;
  border: 1px solid darken($background, 10);

  &:hover {
    background: darken($background, 8);
  }

  &:active {
    background: lighten($background, 5);
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.poll-container {
  max-width: $max-width;
  margin: 5px auto;
  border-radius: $border-radius;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.poll-tile {
  border: 1px solid #aaaaaa;
  background: white;
  padding: 10px 20px;
  margin-top: -1px;
  transition: all 0.2s ease;

  &:first-child {
    margin-top: 10px;
    border-radius: $border-radius $border-radius 0 0;
  }

  &:last-of-type {
    margin-bottom: 10px;
    border-radius: 0 0 $border-radius $border-radius;

    &:hover {
      // Makes shadow go up since it is at the bottom of the list
      box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.4);
    }
  }

  &:hover {
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  }
}

.page-main {
  border: 1px solid #aaaaaa;
  border-radius: 2px;
  background: white;
  margin: 5px auto;
  padding: 30px 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.navbar {
  background: #3377cc;
  color: #efefef;
  padding: 0 5px;
  margin: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.navbar-container {
  margin: 0 auto;
}

.nav-title {
  font-weight: bold;
  cursor: pointer;
}

.nav-item {
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
}

.nav-option {
  &:hover {
    background: rgba(255, 255, 255, 0.4);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }
}

.left {
  display: inline-block;
}

.right {
  float: right;
  display: inline-block;
}

.center {
  text-align: center;
}

.btn-container {
  display: inline-block;
}

.btn {
  width: 75px;
  padding: 10px;
  border-radius: 3px;
  margin: 5px;
  background: none;
  border: none;
}

.btn-default {
  @include makeBtn(#eaeaea, #444444);
}

.toolbar {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  padding: 5px;
  background: #fafafa;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.toolbar-container {
  display: flex;
  max-width: $max-width / 2;
  margin: 0 auto;
}

.toolbar-item {
  display: inline-block;
  font-family: monospace;
  font-size: 32px;
  font-weight: bold;
  color: #484848;
  margin: 0 auto;
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover {
    color: #212121;
  }
}

.legend {
  display: flex;
  flex-wrap: wrap;
  background: #dedede;
  border: 1px solid #bbbbbb;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  padding: 2px;
}

.legend-item {
  display: inline-block;
  padding: 3px;
  margin: 2px 4px;
}

.legend-square {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #5f5f5f;
}

.legend-title {
  display: inline-block;
  margin-left: 5px;
  color: #343434;
}

.labeled-input {
  margin: 4px auto;

  label {
    font-weight: bold;
    margin: 3px 5px;
    text-align: right;
  }

  input {
    padding: 10px;
    background: #e8e8e8;
    color: #333333;
    border: #8f8f8f;
    border-radius: 2px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
    transition: background 0.2s ease;

    &:focus {
      outline: none;
      background: #fafafa;
      box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
    }
  }
}

.poll-info-container {
  text-align: right;
  margin: 10px 0;
  color: #888888;
}
